# Check out https://pre-commit.com/ for documentation
# and https://pre-commit.com/hooks.html for more hooks
minimum_pre_commit_version: 2.9.0
# Don't set language_version -- it's only useful if we have multiple
# python versions or our build uses a different env than runtime
repos:
  # --- Meta hooks ---
  #- hooks:
  # This one is useful, but it will fail if, e.g., you don't have a single yaml file
  #  - id: check-hooks-apply
  # This one will fail, e.g., if you don't have a recipes/ file, which is excluded here
  #   - id: check-useless-excludes
  #  repo: meta

  # --- Built-in hooks --
  - hooks:
      - id: check-symlinks
      - id: check-case-conflict
      - id: fix-byte-order-marker
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: debug-statements
      - id: check-toml
      - id: check-json
        exclude: >
          (?x)^(
            .vscode/settings.json|
            .vscode/launch.json
          )$
      # This one is slow and doesn't check for much
      # - detect-private-key
      # This is very slow, so I recommend disabling it.
      #- id: check-added-large-files
      # The Conda recipe meta.yaml files are actually templates, not valid YAML
      - id: check-yaml
        exclude: ^recipes/.*
    repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0

  # --- Commit msg checks ---
  - hooks:
      - id: commitizen
        stages: ["commit-msg"]
    repo: https://github.com/commitizen-tools/commitizen
    rev: v2.38.0
  # --- Linters ---
  - hooks:
      - id: dockerfile_lint
    repo: https://github.com/Lucas-C/pre-commit-hooks-nodejs
    rev: v1.1.2
  - hooks:
      - id: black
    repo: https://github.com/psf/black
    rev: 23.1a1
  - repo: https://github.com/pre-commit/mirrors-prettier
    hooks:
      - id: prettier
    rev: v3.0.0-alpha.4
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.1
    hooks:
      - id: pyupgrade
        args: [--py38-plus]
  - repo: https://github.com/PyCQA/prospector
    rev: v1.8.3
    hooks:
      - id: prospector
        exclude: ^(tests)/.+\.py$
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(homeassistant|script|tests)/.+\.py$
  - repo: https://github.com/PyCQA/isort
    rev: 5.11.4
    hooks:
      - id: isort
  #  - repo: local
  #    hooks:
  #      - id: pytest-check
  #        name: pytest-check
  #        entry: pytest
  #        language: system
  #        pass_filenames: false
  #        always_run: true
  - repo: https://github.com/floatingpurr/sync_with_poetry
    rev: "0.4.0" # the revision or tag to clone at
    hooks:
      - id: sync_with_poetry
        args: [] # optional args

ci:
  autofix_commit_msg: |
    style: auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ""
  autoupdate_commit_msg: "build: pre-commit autoupdate"
  autoupdate_schedule: weekly
  skip: []
  submodules: false
