name: semantic_release

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
        with:
          ref: master
      - name: Set up Python 3.7
        uses: actions/setup-python@v1
        with:
          python-version: 3.7
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install python-semantic-release
      - name: Setup Git
        run: |
          git config --global user.name "semantic-release"
          git config --global user.email "semantic-release@GitHub"
      - name: Publish with semantic-release
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: |
          DEBUG='*' semantic-release publish
      # Pack the alexa_media_player dir as a zip and upload to the release
      - name: Zip alexa_media dir
        run: |
          cd /home/runner/work/alexa_media_player/alexa_media_player/custom_components/alexa_media
          zip alexa_media.zip -r ./
      - name: Set release variable
        run: |
          echo "::set-env name=release_version::`git describe --abbrev=0`"
      - name: Sleep
        # add delay so upload does not kill the release notes from semantic-release
        run: |
          sleep 5
      - name: Upload zip to release
        uses: svenstaro/upload-release-action@v1-release
        with:
          repo_token: ${{ secrets.GH_TOKEN }}
          file: /home/runner/work/alexa_media_player/alexa_media_player/custom_components/alexa_media/alexa_media.zip
          asset_name: alexa_media.zip
          tag: ${{ env.release_version }}
          overwrite: true
